hr{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width:5px;
  width:5%;
}
.cross-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50px;
height:50px;
}
.navbar{
  background-color: #F08080;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.nav-item{
  margin: 45px;
  font-family: Montserrat;
  color:black;
  font-weight: 900;

}
.nav-item:hover{
  background-color: #D3D3D3;
}
.current{
    background-color: #4CAF50;
  }
