
#customers {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}


.number{
  text-align: right;
}
.header{
  font-family: "Montserrat",Arial, Helvetica, sans-serif;
  align-items: center;
}
  .headerTitle{
    margin-left: auto;
    margin-right: auto;
  }
  .eng-name, .name2{
    color: blue;
  }
  .eng-name:hover, .name2:hover{
    color: purple;
  }
  
  .test{
    text-align: center;
    background-color:black ;
    color: white;
    font-size: 1.5rem;
    
  }
