body{
  background-color: white;
}

h1{
  font-family: Dancing Script, cursive;
  text-align: center;
  color:red;
  margin-top: 5px;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width:5px;
  width:5%;
}

.welcome-text2{
  text-align: center;
  margin-top: -20px;
  font-family: Montserrat;


}
.coptic-hymns{
  text-decoration: underline;
  text-align: center;
  font-family: Dancing Script, cursive;
  margin-top: -15px;
  font-size: 30px;

}
.cross-img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50px;
height:50px;
}
.navbar{
  background-color: #F08080;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.nav-item{
  margin: 45px;
  font-family: Montserrat;
  color:black;
  font-weight: 900;

}
.nav-item:hover{
  background-color: #D3D3D3;
}
a:hover{
  color: blue;
}
.current{
  background-color: #4CAF50;
}
.descrption{
  font-family: Montserrat;
  text-align: center;
}
.footer-link{
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 900;
  margin: 45px;
  text-align: center;
}
.sidenav{
  background-color: black;
  margin-top: 5px;
}
.bible-verse{
  font-family: Montserrat, sans-serif;
  border: 1px solid black;
  border-radius: 5px;

  padding-bottom: 5.5px;



}
.bible-2{
  color:red;
  margin-left:5px;

}
.verse{
  margin-left: 5px;
}
#bible{
  text-align: center;
  text-decoration: underline;
}
.readmore{
  margin-left: 10px;
}
.readmore:hover{
  color:blue;
  background-color: #D3D3D3;
}




.synaxarion{
  font-family: Montserrat, sans-serif;
  border: 1px solid black;
  border-radius: 5px;


}
.topic{
  font-family: 'Roboto';

  text-decoration: underline;
  margin-left: 5px;
}
.paragraph{
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.4;
}

.img{
  float: left;
  margin-right: 10px;
  margin-left: 2px;
  border: 1px solid black;
  border-radius: 5px;
  height: 295px;
  width: 171px;
}
.imgd3{
  float: left;
  margin-right: 10px;
  margin-left: 2px;
  border: 1px solid black;
  border-radius: 5px;
  height: 175px;
  width: 175px;
}
.imgd4{
  float:left;
  margin-right: 10px;
  margin-left: 2px;
  border: 1px solid black;
  border-radius: 5px;
}
.topic{
  font-family: 'Roboto';
}
.test{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width:5px;
  width:5%;
}
.nav-item .active {
  background-color: #4CAF50;
}
