body{
  background-color: black;
}
h1{
  font-family: Montserrat;
  text-align: center;
  color: white;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color: white;
  border-width:5px;
  width:5%;
}
.video1{

  display: inline;

}
.video{
border: 2px blue solid;

}
.navbar{
  background-color: #F08080;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.nav-item{
  margin: 45px;
  font-family: Montserrat;
  color:black;
  font-weight: 900;

}
.nav-item:hover{
  background-color: #D3D3D3;
}
